
.article-header {
  --limit: 50%;
  --blur: 5px;

  background: linear-gradient(to top,transparent,var(--background));
  mask-image: linear-gradient(to bottom,var(--background) var(--limit),transparent);
  backdrop-filter: blur(var(--blur));
}
